
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="card" >
          <div class="card-header bg-success">
            <h5 class="modal-title" >Change Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="oldpassword" class="col-form-label col-md-3">Old Password</label>
                <div class="col-md-9">
                  <input class="form-control" type="password" id="oldpassword" placeholder="Password"/>
                </div>
              </div>
              <div class="form-group row">
                <label for="newpassword" class="col-form-label col-md-3">New Password</label>
                <div class="col-md-9">
                  <input class="form-control" type="password" id="newpassword" placeholder="Password"/>
                </div>
              </div>
              <div class="form-group row">
                <label for="newpassword2" class="col-form-label col-md-3">Re-Enter Password</label>
                <div class="col-md-9">
                  <input class="form-control" type="password" id="newpassword2" placeholder="Password"/>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger mr-auto " data-dismiss="modal">Close</button>
        <button type="button" class="btn  btn-outline-success">Change</button>
      </div>
    </div>
  </div>
</div>
