

  <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
    <div class="container">
    <a class="navbar-brand" href="#"><img src="../assets/images/Emerald-Logo.png" alt="logo" width="30" height="30" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="productDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Production
          </a>
          <div class="dropdown-menu" aria-labelledby="productDropdownLink">
            <div class="dropdown-divider"></div>
            <div class="dropdown-header"><span class="text-bold-green">INVENTORY</span></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Show All Materials</a>
            <a class="dropdown-item" href="#">Add To Inventory</a>
            <a class="dropdown-item" href="#">Edit Inventory</a>
            <a class="dropdown-item " href="#">Delete From Inventory</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header"><span class="text-bold-green">PROCESSING</span></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Acquire Materials</a>
            <div class="dropdown-item">
              <a  href="#">Stage 1</a> &nbsp;&nbsp;
              <a  href="#">Stage 2</a>
            </div>
            <div class="dropdown-item">
              <a  href="#">Stage 3</a> &nbsp;&nbsp;
              <a  href="#">Stage 4</a>
            </div>
            <div class="dropdown-item">
              <a  href="#">Stage 5</a> &nbsp;&nbsp;
              <a  href="#">Stage 6</a>
            </div>
            <a class="dropdown-item" href="#">Return Materials</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header"><span class="text-bold-green">PRODUCTS</span></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Show All Products</a>
            <a class="dropdown-item" href="#">Create Product</a>
            <a class="dropdown-item" href="#">Edit Product</a>
            <a class="dropdown-item" href="#">Delete Product</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="customerDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Externals
          </a>
          <div class="dropdown-menu" aria-labelledby="customerDropdownLink">
            <div class="dropdown-header"><span class="text-bold-green">CUSTOMER</span></div>
            <a class="dropdown-item" href="#">Show All Customers</a>
            <a class="dropdown-item" href="#">Create Customer</a>
            <a class="dropdown-item" href="#">Edit Customer</a>
            <a class="dropdown-item" href="#">Delete Customer</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header"><span class="text-bold-green">SUPPLIER</span></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Show All Suppliers</a>
            <a class="dropdown-item" href="#">Create Supplier</a>
            <a class="dropdown-item" href="#">Edit Supplier</a>
            <a class="dropdown-item " href="#">Delete Supplier</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header"><span class="text-bold-green">AGENTS</span></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Show All Agents</a>
            <a class="dropdown-item" href="#">Create Agent</a>
            <a class="dropdown-item" href="#">Edit Agent</a>
            <a class="dropdown-item " href="#">Delete Agent</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="quoteDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Receipting
          </a>
          <div class="dropdown-menu" aria-labelledby="quoteDropdownLink">
            <div class="dropdown-divider"></div>
            <div class="dropdown-header"><span class="text-bold-green">SALES</span></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Show Sales</a>
            <a class="dropdown-item" href="#">Create Sale</a>
            <a class="dropdown-item" href="#">Create From Invoice</a>
            <a class="dropdown-item" href="#">Edit Sale</a>
            <a class="dropdown-item" href="#">Delete Sale</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header"><span class="text-bold-green">QUOTATIONS</span></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Show All Quotations</a>
            <a class="dropdown-item" href="#">Create Quotations</a>
            <a class="dropdown-item" href="#">Edit Quotations</a>
            <a class="dropdown-item" href="#">Delete Quotations</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header"><span class="text-bold-green">INVOICES</span></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Show All Invoices</a>
            <a class="dropdown-item" href="#">Create Invoice</a>
            <a class="dropdown-item" href="#">Create From Quotation</a>
            <a class="dropdown-item" href="#">Edit Invoice</a>
            <a class="dropdown-item" href="#">Delete Invoice</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="moreDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &nbsp;More &nbsp;
          </a>
          <div class="dropdown-menu" aria-labelledby="moreDropdownLink">
            <div class="dropdown-header"><span class="text-bold-green">USERS</span></div>
            <a class="dropdown-item" href="#">Show All Users</a>
            <a class="dropdown-item" href="#">Create User</a>
            <a class="dropdown-item" href="#">Edit User</a>
            <a class="dropdown-item" href="#">Delete User</a>
            <div class="dropdown-header"><span class="text-bold-green">LOSSES</span></div>
            <a class="dropdown-item" href="#">Record Breakages</a>
            <a class="dropdown-item" href="#">Record Losses</a>
            <a class="dropdown-item" href="#">Create Transport Schedule</a>
            <a class="dropdown-item" href="#">Edit Breakages</a>
            <a class="dropdown-item" href="#">Edit Losses</a>
            <a class="dropdown-item" href="#">Edit Transport Schedule</a>
            <a class="dropdown-item" href="#">View Breakages</a>
            <a class="dropdown-item" href="#">View Losses</a>
            <a class="dropdown-item" href="#">View Transport Schedule</a>
            <a class="dropdown-item" href="#">Delete Breakages</a>
            <a class="dropdown-item" href="#">Delete Losses</a>
            <a class="dropdown-item" href="#">Close Transport Schedule</a>
          </div>
        </li>


      </ul>
      <ul class="nav navbar-nav navbar-right navbar-light">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accountDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="accountDropdownLink">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#loginModal">Sign In</a>
            <a class="dropdown-item" routerLink="/profile">My Profile</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePasswordModal">Change Password</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#lockAccountModal">Lock Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </div>
    </div>
  </nav>
<router-outlet></router-outlet>
  <app-login></app-login>
  <app-logout></app-logout>
  <app-change-password></app-change-password>
  <app-lock-account></app-lock-account>


