
<div class="modal fade" id="lockAccountModal" tabindex="-1" role="dialog" aria-labelledby="lockAccountModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="card" >
          <div class="card-header bg-warning">
            <h5 class="modal-title" >Lock Account Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <div class="text-danger row">
              <h5>Are you sure you want to lock your account?</h5><br/>
              <h6>Please note you will assistance from system administrator to unlock your account.</h6><br/>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger mr-auto " data-dismiss="modal">Close</button>
        <button type="button" class="btn  btn-outline-success">Continue</button>
      </div>
    </div>
  </div>
</div>
